$var1: 'Comfortaa';
$var2: 'Raleway';
$var3:  #FFFFFF;
$var4: linear-gradient(180deg,#00a510 0,#00a510 18.09%,rgba(0,165,15,.91) 51.18%,#13801d 85.09%,#098214 100%);
$var5: linear-gradient(180deg,#f36041 0,#f1a02a 100%);
$var6: #F8D548;