<section class="hero" style="background-image: url('./img/hero-backgrond.jpg');">
    <div class="hero__container">
        <div class="container__column">
            <h6>Меденичі</h6>
            <h1>Зоопарк Лімпопо</h1>
            <p>Відчинено 10:00 - 17:00</p>
            <p>Львівська обл., Дрогобицький р-н, 
                с. Меденичі, вул. Львівська 21,
            </p>
            <div class="column__btn">
                <div class="btn__clear">
                    <a href="#">Як доїхати</a>
                </div>
                <div class="btn__color">
                    <a href="#">Квитки</a>
                </div>
            </div>
        </div>
        <div class="container__column">
           <img src="./img/hero-animals.png" alt="">
        </div>
 
    </div>
 </section>