.header{
    background: linear-gradient(180deg, #00A510 0%, rgba(0, 165, 16, 0.78) 18.09%, rgba(0, 165, 15, 0.58) 51.18%, #13801D 85.09%, #098214 100%);
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-family: $var1;
        color: $var3;
        font-weight: 700;
        .container__logo{
            flex: 0 0 30%;
        }
        .container__nav{
            display: flex;
            flex:  0 0 70%;
            align-items: center;
            justify-content: flex-end;

            a{
                font-size: 32px;
                line-height: 36px;
            }
            .nav__lang{
                a{
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
            
        
    }
}